# =========================
# Bases de datos InfluxDB y otros
# =========================
**/influx_data/
*.tsm
*.wal
*.idx
*.udx
meta.db
000*

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Imágenes y Gráficas
# =========================
*.png
ble_mesh_tfg/vendor_client/.vscode/settings.json
ble_mesh_tfg/vendor_client/dependencies.lock
wifi_mesh_tfg/.vscode/c_cpp_properties.json
wifi_mesh_tfg/dependencies.lock
